//! html & body
html, body {
  height: 100%;
  min-height: 100%;
}

//! Main container of page content
#page_content {
  background-color: #f6f6f6;
  min-height: 100%;
  padding-top: 75px;
}

//! textarea design
textarea.no_resize {
  resize: none;
}
