//! html & body
html, body {
  height: 100%;
  min-height: 100%;
}

//! Main container of page content
#page_content {
  min-height: 100%;
  padding-top: 75px;
}

//! textarea design
textarea.no_resize {
  resize: none;
}

//! title in main body
.main h1 {
  margin-top: 15px;
}
