//! html & body
html, body {
  height: 100%;
  min-height: 100%;
}

//! textarea design
textarea.no_resize {
  resize: none;
}

//! title in main body
.main h1 {
  margin-top: 15px;
}

.vcenter {
  align-items : center;
  display : flex;
}

.row-no-margin {
  display: flex;
}
